RewriteEngine On
RewriteBase /

Options -Indexes

RedirectMatch 403 /\..*$

<Files ".env">
    Require all denied
</Files>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|bak|sql|gitignore|env)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 503 /503.html

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(downloads|scripts|styles|images)(/|$) - [F]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /$
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} /ru/wiki\.html [NC]
RewriteRule ^ru/wiki\.html$ /ru/wiki [R=301,L,NE]

RewriteCond %{THE_REQUEST} /ru/viewer\.html [NC]
RewriteRule ^ru/viewer\.html$ /ru/viewer [R=301,L,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]+$ [NC]
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}.html -f
RewriteRule ^(.*)$ $1.html [QSA,L]
