RewriteEngine On
RewriteBase /

Options -Indexes

RedirectMatch 403 /\..*$

<Files ".env">
    Require all denied
</Files>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|bak|sql|gitignore|env)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

ErrorDocument 403 /html/403.html
ErrorDocument 404 /html/404.html
ErrorDocument 503 /html/503.html

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(downloads|scripts|styles|images)(/|$) - [F]

RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^(.*)index\.html$ /$1 [R=301,L,NC]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /+(.*)\.html\ HTTP/ [NC]
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /$
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteRule ^(ru|en|de)/?$ /html/index.html [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(ru|en|de)/(.*)$ /html/$2.html [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ /html/$1.html [L,QSA]
